@charset "utf-8";

header{
	margin-left: 150px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	
	
}

table,
tr,th,td{
	/* text-align: center; */
	border:1px solid #333;
	border-collapse: collapse;
}

table{
	width: 500px;
	height: 150px;
	text-align:center;
	border: 0 auto;
	
}
