@charset "utf-8"

*{
	margin:0;
	padding:0;
}

body{
	background-color:#262626;
	
}

h1{
	font-size:30px;
	color:#fff;
}

table,
tr,th,td{
	border:1px solid #fff;
	border-collapse: collapse;
	color:#fff;
	background-color:#333;
}

table{
	margin: 0 auto;
	width: 600px;
}

caption{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

table tr:nth-child(1) {
	background-color: #0FFFB7;
}

table tr:not(:first-child):hover{
	background-color:#eee;
}
