@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	background: #262626;
}

.center{
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	background: #333;
	box-sizing:border-box;
}

.head{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size:20px;
}

.theFirst{
	box-sizing: borderbox;
	width: 100%;
	margin: 20px 0;
}

.theFirst h{
	color: #fff;
	margin: 0 5px;
	padding: 0;
	font-weight: bold;
}

.column_chart{
	/* background: #262626; */
	margin-top:6px;
	padding: 4px;
	border: 1px solid #0fffb7;
	border-radius: 2px;
}

.fist{
	background: #0fffb7;
	width: 100%;
	height: 8px;
}

